__pycache__/
modulos/__pycache__/
GUI/__pycache__/
proyecto_venv/Lib/site-packages/seaborn/__pycache__/
/modulos/__pycache__
/proyecto_venv/Lib/site-packages/seaborn/__pycache__
/proyecto_venv/Lib/site-packages/seaborn/__pycache__
/proyecto_venv/Lib/site-packages/seaborn/_core/__pycache__
/proyecto_venv/Lib/site-packages/seaborn/_stats/__pycache__
/proyecto_venv/Lib/site-packages/seaborn/colors/__pycache__
/proyecto_venv/Lib/site-packages/seaborn/external/__pycache__
