__pycache__/
modulos/__pycache__/
GUI/__pycache__/
proyecto_venv/Lib/site-packages/seaborn/__pycache__/
/modulos/__pycache__
/proyecto_venv/Lib/site-packages/seaborn/__pycache__
/proyecto_venv/Lib/site-packages/seaborn/__pycache__
/proyecto_venv/Lib/site-packages/seaborn/_core/__pycache__
/proyecto_venv/Lib/site-packages/seaborn/_stats/__pycache__
/proyecto_venv/Lib/site-packages/seaborn/colors/__pycache__
/proyecto_venv/Lib/site-packages/seaborn/external/__pycache__
proyecto_venv/Lib/site-packages/seaborn/__pycache__/__init__.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/_base.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/_compat.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/_docstrings.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/_statistics.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/algorithms.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/axisgrid.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/categorical.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/cm.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/distributions.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/matrix.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/miscplot.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/palettes.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/rcmod.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/regression.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/relational.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/utils.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/__pycache__/widgets.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/_core/__pycache__/__init__.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/_core/__pycache__/data.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/_core/__pycache__/groupby.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/_core/__pycache__/rules.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/_core/__pycache__/scales.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/_core/__pycache__/typing.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/_stats/__pycache__/__init__.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/_stats/__pycache__/base.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/_stats/__pycache__/counting.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/_stats/__pycache__/density.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/colors/__pycache__/__init__.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/colors/__pycache__/crayons.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/colors/__pycache__/xkcd_rgb.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/external/__pycache__/__init__.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/external/__pycache__/appdirs.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/external/__pycache__/docscrape.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/external/__pycache__/husl.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/external/__pycache__/kde.cpython-311.pyc
proyecto_venv/Lib/site-packages/seaborn/external/__pycache__/version.cpython-311.pyc
modulos/__pycache__/read_data.cpython-311.pyc
modulos/__pycache__/gen_graf.cpython-311.pyc
/.venv
/build
